@import url('https://fonts.googleapis.com/css?family=Lato');
.wc-slide-containder{
  display: none;

  height: 150px;

  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgb(255, 255, 255);
}

.wc-slide-containder::-webkit-scrollbar {
  opacity: 0;
}

.wc-slider{
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;


  transition: all 0.2s;
  transform: scale(0.995);
  cursor: grab;
  background-color: rgb(255, 255, 255);
}
.wc-slider a{
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

.wc-slider.active{
  cursor: grabbing;
  cursor: -webkit-grabbing;
  
}

.wc-slide-item{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto 5px;
  background-color: #eee;
  width: 100px;
  height: 108px;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}
.wc-slide-item.active{
  transform: scale(1.05);
}

.wc-slide-item > img{
  height: 40%;
  border-radius: 4px;
  margin-top: 0px;
}

.wc-slide-item > h4 {
  color: #002563;
  margin: 5px;
  text-decoration: underline;

}

.wc-slide-item > p{
  color: #666666;
  margin: 0;
}

body{
  background-color: rgb(255, 255, 255);
  /* display: flex; */
  align-items: center;
  /* font-family: sans-serif; */
  width: 100%;
  height: 100vh;
  margin: 0;
}
.layout {
  width: 100%;
  display: flex;
}
.izquierdabody{
  width: 100%;

}
.derechabody{
  border: solid 2px rgb(23, 0, 128);
  width: 40%;
}
.contenido-vertical-largo{
  border: solid 2px yellow;
  width: 100%;
  height: 100%;
  
}
.tituloizquierda{
  font-size: 20px;
  font-weight: 900;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.izquierdabody a{
  text-decoration: none;
  color: black;
  width: 100%;
}
.contenido{
  width: 100%;
  border: solid 2px blue;
  margin-bottom: 5px;
  display: flex;
}

.imgcontenido img{
  width: 150px;
  height:150px;
  padding:5px ;
}
.textocontenido{
  width: fit-content;
  text-align: justify;
  padding: 7px;
}
.textocontenido .title{
  font-size: 20px;
  padding: 0px;
  text-align: left;
  height: fit-content;
  margin: 0;
  font-weight: 900;
}


/*------------------------------------------------------ */


/* Media Queries Breakpoints */
#ultimo + div{
  visibility: hidden;
}
@media(max-width:768px) {
  .layout {
    width: 99%;
    display: flex;
    flex-direction: column;
  }
  .derechabody{
    width: 100%;
    height: fit-content;
  }
}

@media(max-width:426px){
  .contenido{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  .textocontenido{
    width: fit-content;
    padding: 15px;
  }
  .imgcontenido{
    margin: auto;
  }
  .textocontenido .title{
    font-size: 20px;
    text-align: center;
    padding: 0px;
    height: fit-content;
    margin: 0;
  }
  .wc-slide-containder{
    display:block;
  }
}
/*------------------------------------------------------ */

